In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import requests
import time
from selenium.common.exceptions import NoSuchElementException

In [45]:
driver = webdriver.Chrome(r"C:\Users\Bvs\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
#Q1

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [9]:
rank=[]
name=[]
artist=[]
uploaddate=[]
view=[]

for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]'):
    
    rank.append(i.text)
ranks=rank[:30]

for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]'):
    
    name.append(i.text)
names=name[:30]

for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]'):
    
    artist.append(i.text)
artists=artist[:30]

for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]'):
    
    uploaddate.append(i.text)
uploaddates=uploaddate[:30]

for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]'):
    
    view.append(i.text)
views=view[:30]

In [10]:
df=pd.DataFrame({'Rank':ranks,'Name':names,'Artist':artists,'Upload Date':uploaddates,'View':views})
df

,Rank,Name,Artist,Upload Date,View
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,12.73,"June 17, 2016"
1,2.,"""Despacito""[7]",Luis Fonsi,8.14,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,6.69,"October 8, 2016"
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,6.15,"May 2, 2018"
4,5.,"""Shape of You""[16]",Ed Sheeran,5.97,"January 30, 2017"
5,6.,"""See You Again""[18]",Wiz Khalifa,5.86,"April 6, 2015"
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,5.26,"March 6, 2014"
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,5.14,"May 24, 2018"
8,9.,"""Uptown Funk""[25]",Mark Ronson,4.89,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,4.87,"February 27, 2018"
10,11.,"""Gangnam Style""[27]",Psy,4.77,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.55,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[33]",El Chombo,4.32,"April 5, 2018"
13,14.,"""Axel F""[34]",Crazy Frog,3.87,"June 16, 2009"
14,15.,"""Sugar""[35]",Maroon 5,3.86,"January 14, 2015"
15,16.,"""Roar""[36]",Katy Perry,3.78,"September 5, 2013"
16,17.,"""Counting Stars""[37]",OneRepublic,3.77,"May 31, 2013"
17,18.,"""Sorry""[38]",Justin Bieber,3.65,"October 22, 2015"
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,3.61,"June 25, 2018"
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,3.58,"October 7, 2014"
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,3.56,"June 4, 2010"
21,22.,"""Dark Horse""[42]",Katy Perry,3.50,"February 20, 2014"
22,23.,"""Faded""[43]",Alan Walker,3.44,"December 3, 2015"
23,24.,"""Perfect""[44]",Ed Sheeran,3.42,"November 9, 2017"
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.42,"June 14, 2018"
25,26.,"""Let Her Go""[46]",Passenger,3.42,"July 25, 2012"
26,27.,"""Girls Like You""[47]",Maroon 5,3.40,"May 31, 2018"
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.38,"January 26, 2018"
28,29.,"""Lean On""[49]",Major Lazer,3.37,"March 22, 2015"
29,30.,"""Bailando""[50]",Enrique Iglesias,3.37,"April 11, 2014"

In [ ]:
#Q2

In [12]:
driver.get("https://www.bcci.tv/")

In [13]:
tab=driver.find_element(By.XPATH,'//ul[@class="nav navbar-nav  align-items-center"]/li[2]')
tab.click()

In [24]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    
    match_title.append(i.text.split(" ")[2])
    
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    
    series.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]'):
    
    place.append(i.text.split(" ")[2:])    
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-info"]/div[1]'):
    
    date.append(i.text)   
    
for i in driver.find_elements(By.XPATH,'//div[@class="match-info"]/div[2]'):
    
    time.append(i.text)

In [25]:
df=pd.DataFrame({'Match title':match_title,'Series':series,'Place':place,'Date':date,'Time':time})
df

,Match title,Series,Place,Date,Time
0,TEST,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"[Kennington, Oval,, London]",7 JUN 2023,3:30 PM IST

In [ ]:
#Q3

In [21]:
driver.get("https://www.statisticstimes.com/")

In [22]:
tab=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]')
tab.click()

In [23]:
tab_eco=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
tab_eco.click()

In [24]:
tab_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
tab_gdp.click()

In [25]:
gdp_rank=[]
gdp_state=[]
gdp_18_19=[]
gdp_19_20=[]
gdp_share_18_19=[]
gdp_billion=[]


for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]'):
    
    gdp_rank.append(i.text)
    
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]'):
    
    gdp_state.append(i.text)
    
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]'):
    
    gdp_18_19.append(i.text)
    
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]'):
    
    gdp_19_20.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]'):
    
    gdp_share_18_19.append(i.text)
    
for i in driver.find_elements(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]'):
    
    gdp_billion.append(i.text)

In [26]:
df=pd.DataFrame({'Rank':gdp_rank,'State':gdp_state,'GSDP(18-19)- at current prices':gdp_18_19,'GSDP(19-20)- at current prices':gdp_19_20,'Share(18-19)':gdp_share_18_19,'GDP($ billion)':gdp_billion})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [ ]:
#Q4

In [40]:
driver.get("https://github.com/")

In [41]:
tab=driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]')
tab.click()

In [42]:
trader=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]")
trader.click()

In [75]:
repository_title=[]
repository_description=[]
contributors_count=[]
languages=[]

for i in driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]'):
    
    repository_title.append(i.text) 
    
    
for i in driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article'):
    try:
        repository_descriptions = i.find_element(By.XPATH,'.//p[@class="col-9 color-fg-muted my-1 pr-4"]')
        repository_description.append(repository_descriptions.text)
    except NoSuchElementException:
        repository_description.append('-')  
    
    
for i in driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article/div[2]/a[2]'):
    
    contributors_count.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="Box"]/div[2]/article'):
    try:
        language = i.find_element(By.XPATH,'.//span[@itemprop="programmingLanguage"]')
        languages.append(language.text)
    except NoSuchElementException:
        languages.append('-')

In [80]:
df=pd.DataFrame({'Repository title':repository_title,'Repository description':repository_description,'Contributors count':contributors_count,'Language used':languages})
df

,Repository title,Repository description,Contributors count,Language used
0,xtekky / gpt4free,"decentralising the Ai Industry, free gpt-4/3.5...","1,215",Python
1,gaomingqi / Track-Anything,Track-Anything is a flexible and interactive t...,107,Python
2,GFW-knocker / gfw_resist_tls_proxy,knock up GFW sni detection in tls client hello,186,Python
3,bhaskatripathi / pdfGPT,PDF GPT allows you to chat with the contents o...,199,Python
4,Dogtiti / AutoGPT-Next-Web,"🤖 Assemble, configure, and deploy autonomous A...",279,TypeScript
5,Snaacky / dndserver,Dark and Darker private server implementation ...,38,Python
6,peterw / Chat-with-Github-Repo,This repository contains two Python scripts th...,49,Python
7,mitsuhiko / rye,an experimental alternative to poetry/pip/pipe...,81,Rust
8,sadmann7 / netflx-web,-,44,TypeScript
9,Josh-XT / Agent-LLM,An Artificial Intelligence Automation Platform...,113,Python
10,Eugeny / tabby,A terminal for a more modern age,"2,763",TypeScript
11,ai-collection / ai-collection,The Generative AI Landscape - A Collection of ...,261,-
12,Expensify / App,Welcome to New Expensify: a complete re-imagin...,907,JavaScript
13,aniskoubaa / rosgpt,-,17,Python
14,TheRamU / Fay,Fay是一个完整的开源项目，包含Fay控制器及数字人模型，可灵活组合出不同的应用场景：虚拟主...,382,JavaScript
15,go-skynet / LocalAI,"🤖 Self-hosted, community-driven simple local O...",53,Go
16,k8sgpt-ai / k8sgpt,Giving Kubernetes SRE superpowers to everyone,167,Go
17,GreyDGL / PentestGPT,A GPT-empowered penetration testing tool,97,Python
18,open-mmlab / mmagic,"OpenMMLab Multimodal Advanced, Generative, and...",797,Python
19,xtekky / chatgpt-clone,ChatGPT interface with better UI,209,Python
20,BigBrotherTrade / trader,交易模块,172,Python
21,freedmand / semantra,Multi-tool for semantic search,49,Python
22,kodekloudhub / linux-basics-course,-,"1,744",-
23,alaeddine-13 / thinkgpt,Agent techniques to augment your LLM and push ...,18,Python
24,Atlas-OS / Atlas,🚀 An open and transparent Windows operating sy...,300,Batchfile

In [ ]:
#Q5

In [4]:
driver.get("https://www.billboard.com/charts/hot-100/")

In [33]:
rank=[]
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

for i in driver.find_elements(By.XPATH,'//div[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div'):
    
    rank.append(i.text.split("\n")[0])
rank = [elem for elem in rank if elem.strip()]
ranks=rank[1:]

for i in driver.find_elements(By.XPATH,'//div[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[1]/h3'):
    song_name.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[1]/h3'):
    artist_name.append(i.text)     

for i in driver.find_elements(By.XPATH,'//div[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[4]/span'):
    last_week_rank.append(i.text)     
    
for i in driver.find_elements(By.XPATH,'//div[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[5]/span'):
    peak_rank.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="u-max-width-970 lrv-u-margin-lr-auto"]/div[2]/div/ul/li[4]/ul/li[6]/span'):
    weeks_on_board.append(i.text)

In [34]:
df=pd.DataFrame({'Song name':song_name,'Artist name':artist_name,'Last week rank':last_week_rank,'Peak rank':peak_rank,'Weeks on board':weeks_on_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Kill Bill,Kill Bill,4,1,19
1,Last Night,Last Night,1,1,12
2,Flowers,Flowers,3,1,14
3,Princess Diana,Princess Diana,-,4,1
4,Ella Baila Sola,Ella Baila Sola,10,5,5
...,...,...,...,...,...
95,Memory Lane,Memory Lane,96,96,3
96,Love Again,Love Again,88,40,12
97,'98 Braves,'98 Braves,100,27,7
98,Di Que Si,Di Que Si,-,99,1
99,It Matters To Her,It Matters To Her,-,100,1

In [ ]:
#Q6

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [7]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    book_name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    author_name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    volumes_sold.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    publisher.append(i.text)    

for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    genre.append(i.text)

In [8]:
df=pd.DataFrame({'Book name':book_name,'Author name':author_name,'Volumes sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
#Q7

In [9]:
driver.get("http://www.imdb.com/list/ls095964455/")

In [12]:
name=[]
year_span=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/a'):
    name.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/h3/span[2]'):
    year_span.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[5]'):
    genre.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p/span[3]'):
    run_time.append(i.text)    
    
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div[1]/div[1]'):
    ratings.append(i.text)
    
for i in driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/p[4]/span[2]'):
    votes.append(i.text)

In [13]:
df=pd.DataFrame({'Name':name,'Year span':year_span,'Genre':genre,'Run time':run_time,'Ratings':ratings,'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,154,137"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,236,038"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,322"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,132"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,067"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,413"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,451"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,899"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,959"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,579"

In [ ]:
#q8

In [46]:
driver.get("https://archive.ics.uci.edu/")

In [47]:
tab=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
tab.click()

In [62]:
table = driver.find_element(By.XPATH, '//table[@cellpadding="3"]')

rows = table.find_elements(By.XPATH, './/tr[position() > 1]')

name_name = []
data_type = []
default_task = []
attribute_type = []
no_of_instances = []
no_of_attributes = []
year = []


for row in rows:
    cells = row.find_elements(By.XPATH, './/td')
    if len(cells) >= 6:
        name_name.append(cells[0].text)
        data_type.append(cells[1].text.replace(" ", "-"))
        default_task.append(cells[2].text.replace(" ", "-"))
        attribute_type.append(cells[3].text.replace(" ", "-"))
        no_of_instances.append(cells[4].text.replace(" ", "-"))
        no_of_attributes.append(cells[5].text.replace(" ", "-"))
        year.append(cells[6].text.replace(" ", "-"))


df = pd.DataFrame({'Dataset name': name_name,
                   'Data type': data_type,
                   'Task': default_task,
                   'Attribute type': attribute_type,
                   'No of instances': no_of_instances,
                   'No of attributes': no_of_attributes,
                   'Year': year}, index=range(1, len(name_name)+1))

In [63]:
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attributes,Year
1,Abalone,-,Abalone,Multivariate-,Classification-,"Categorical,-Integer,-Real-",4177-
2,Adult,-,Adult,Multivariate-,Classification-,"Categorical,-Integer-",48842-
3,Annealing,-,Annealing,Multivariate-,Classification-,"Categorical,-Integer,-Real-",798-
4,Anonymous Microsoft Web Data,-,Anonymous-Microsoft-Web-Data,-,Recommender-Systems-,Categorical-,37711-
5,Arrhythmia,-,Arrhythmia,Multivariate-,Classification-,"Categorical,-Integer,-Real-",452-
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,-,Influenza-outbreak-event-prediction-via-Twitte...,Multivariate-,Classification-,"Integer,-Real-",75840-
619,Turkish Music Emotion Dataset,-,Turkish-Music-Emotion-Dataset,Multivariate-,Classification-,"Integer,-Real-",400-
620,Maternal Health Risk Data Set,-,Maternal-Health-Risk-Data-Set,-,Classification-,-,1014-
621,Room Occupancy Estimation,-,Room-Occupancy-Estimation,"Multivariate,-Time-Series-",Classification-,Real-,10129-
622,Image Recognition Task Execution Times in Mo...,-,Image-Recognition-Task-Execution-Times-in-Mobi...,Univariate-,Regression-,Real-,4000-

In [ ]:
#Q9

In [4]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [15]:
name=[]
designation=[]
company=[]
skills_they_hire_for=[] 
location=[]

for i in range(500):
    driver.execute_script("window.scrollBy(0,1000)")

names=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div/p/a[1]/span')
time.sleep(2)
for name_txt in names:
    try:
        name.append(name_txt.text)
    except NoSuchElementException:
        name.append('-') 
        
designations=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div/p/span[1]')
time.sleep(2)
for designation_txt in designations:
    try:
        designation.append(name_txt.text)
    except NoSuchElementException:
        designation.append('-')         
                                  
companys=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div/p/a[2]/small')
time.sleep(2)
for company_txt in companys:
    try:
        company.append(company_txt.text)
    except NoSuchElementException:
        company.append('-')   
        
skills_they_hire_fors=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div[2]')
time.sleep(2)
for skills_they_hire_for_txt in skills_they_hire_fors:
    try:
        skills_they_hire_for.append(skills_they_hire_for_txt.text)
    except NoSuchElementException:
        skills_they_hire_for.append('-')
        
locations=driver.find_elements(By.XPATH,'//div[@class="recInfo"]/div/p/span[2]/small')
time.sleep(2)
for location_txt in locations:
    try:
        location.append(location_txt.text)
    except NoSuchElementException:
        location.append('-')

In [16]:
df=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skills they hire for':skills_they_hire_for,'Location':location})
df

,Name,Designation,Company,Skills they hire for,Location
0,Santhosh Kumar,Sita Chhetri,Maveric Systems,"It Recruitment, Campus Recruitment, Campus Hir...",Chennai
1,Gauri Bhosle,Sita Chhetri,TCRC,"Operation Executive, Jr. Chemist/ Chemist, Aud...",Mumbai
2,Surendra R,Sita Chhetri,DSR Design & Engineering Solutions,"Design Engineering, AutoCAD, Solid Works",Hyderabad / Secunderabad
3,Neha Pandey,Sita Chhetri,Ingenious E-Brain Solutions Private Limited,"B.tech, Operations, Business Development, Busi...",Gurgaon
4,Vinita Raut,Sita Chhetri,Xpansion HR Solutions Private Limited,"Bde, Accounting, Education Counseling, Sales, ...",Pune
5,BALA Sakthivelmuthu,Sita Chhetri,E Vel,"Html, Css, Javascript, Ui Development, Java, A...",Madurai
6,Prarit Gupta,Sita Chhetri,HMS Relations Management,"Counter Sales, Sales",Delhi
7,Raghu Hrexecutive,Sita Chhetri,IQs soft,"Java/J2ee ( Core Java, Struts, Hibernate, Serv...",Bengaluru / Bangalore
8,Take jobs,Sita Chhetri,Take Jobs,"tally, Bank Reconciliation, billing, electrica...",Delhi
9,iNFIN Technologies,Sita Chhetri,Infin Software Technologies Pvt. Ltd,"Technical, PHP, Web Development, Web Technolog...",Chandigarh
10,Punit Kumar Bhidodiya,Sita Chhetri,Exatip Technologies,"Software Development, Business Development",Indore
11,Ishan Ahmed,Sita Chhetri,Jute Wonders Unlimited,Back Office,Delhi
12,Sreekanth Menon,Sita Chhetri,Sterlite Technologies Ltd. Elitecore,"C++, Java/j2ee, C, Networking, Radius, Diamete...",Ahmedabad
13,TechCube IT Services Pvt Ltd,Sita Chhetri,TechCube IT Services Pvt Ltd,Skills- Technical Troubleshooting / Sales / Up...,Mohali
14,Fatte Chand Soni,Sita Chhetri,Tetraskelion Softwares (P) Ltd,".Net, Java, PHP, Android, Testing, IOS, Web an...",Jaipur
15,Koustav Bose,Sita Chhetri,KKR BOSE DESIGN SERVICES PVT LTD,Ravit,Mumbai
16,Vaishambi Saxena,Sita Chhetri,22Feet Tribal Worldwide (DDB Worldwide),"Magento, PHP, Content, Design, DotNet, BD",Bengaluru / Bangalore
17,Be Tuned Solutions,Sita Chhetri,Be-Tuned Solutions,"Content Writing, Content Development, Technica...",Mohali
18,Prerna Kashyap,Sita Chhetri,CoconutEvent,"English Literature, Copy Writing, Content Writ...",Mumbai
19,Sunil Joshi,Sita Chhetri,"Ravi infra- Build Projects Private limited,","BDM/ BDO, Branch Manager, Senior Branch manage...",Udaipur
20,Stella,Sita Chhetri,Treselle Software Pvt Ltd,"Java, Database, Front End, Big Data, Cloud Com...",Chennai
21,Pranav Varia,Sita Chhetri,Smart Technospace Pvt Ltd,"Project Management, Sharp Supervision, Leaders...",Surat
22,Emma Rodrigues,Sita Chhetri,Sahil International,"Marketing, Customer Service, Finance, Telecom,...",Mumbai
23,Sita Chhetri,Sita Chhetri,Sarbottam Cement Pvt. Ltd. / Laxmi Steels...,"Erection Commissioning, Stores, Installation, ...",Nepal - (Kathmandu)